body {
    background-image: url("../images/texture.png");
}

@font-face {
    font-family: 'CourierPrimeSansBold';
    src: url('../fonts/CourierPrimeSansBold/CourierPrimeSansBold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-style: normal;
}

/*
>>> MAIN WRAPPER >>>
*/

/* Set width and centering the player */
#playerWrapper {
    width: 400px;
    margin: 100px auto;
    border-radius: 4px; /* Radius of box-shadow */
    -moz-box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

#canvas {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-family: 'Montserrat-Regular', sans-serif;
}

/* Album cover */
img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#songInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 390px;
    text-align: right;
    padding: 0 10px 10px 0;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    font-weight: bold;
}

#timeInfo {
    font-size: small;
    font-family: 'CourierPrimeSansBold', sans-serif;
}

#vBar {
    font-size: 14px;
    margin: 0 1px 0 1px;
}

/* Playlist  */
/*
Hiding Vertical Scrollbar >>>
(Chrome, IE (6+), Firefox, Opera, and Safari)
*/
#playlist, #canvas {
    /* Fix width & height values needed */
    height: 400px;
    width: 400px;
}

#playlist::-webkit-scrollbar {
    display: none;
}

#playlistView {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*
Separated overlay, because li background-color
break the box-shadow inset effect >>>
 */
#shadow_overlay_bottom {
    width: 100%;
    min-height: 15px;
    position: absolute;
    bottom: 0%;
    box-shadow: inset 0px -10px 15px -10px rgba(38, 38, 38, 1);
    z-index: 5;
}

/*
<<< hiding Vertical Scrollbar
*/

/*
Style striped playlist >>>
*/
#playlist {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #444440;

}

#playlist li:nth-child(odd) {
    background-color: #C4C4C0;
}

#playlist li:nth-child(even) {
    background-color: #D0D0CD;
}

#playlist li {
    height: 30px;
    font-size: small;
    line-height: 31px; /* vertical align text */
    position: relative;
    text-decoration: none;
    padding-left: 10px;
    white-space: pre;
}

#playlist li:hover {
    cursor: default;
    font-weight: bold;
    background-color: #B7B7B3;
    color: #e74c3c;
}

#active {
    color: #e74c3c;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 115%;
}

/*
<<< style striped playlist
*/

/*
>>> PROGRESS BAR >>>
*/

progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* styling the native progress bar */
    border: 0;
    display: block;
    width: 400px; /* equal with the width of playerWrapper */
    height: 7px;
    background-color: #a0a7af;
    overflow: hidden;
}

/* Chrome, Safari */

progress::-webkit-progress-value {
    background-color: #e74c3c;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/* Firefox */

progress::-moz-progress-bar {
    background-color: #e74c3c;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/* IE10+ */

progress::-ms-fill {
    border: none;
    background-color: #e74c3c;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

#controls {
    height: 100px;
    background-color: #ddddda;
    border-radius: 4px;
}

/*
>>> BUTTONS >>>
*/

#buttonWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 93px;
    padding-left: 105px;
}

#playlistBtn {
    margin-left: 37px; /* auto is enough, but not for IE11 */
}

.button {
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
    padding: 15px;
}

.button:hover {
    opacity: 1;
}

.activeIcon:active {
    fill: #517190;
}